.footer-container {
    width: 100%;
    height: 100%;
    padding: 70px 0px;
    padding-bottom: 10px !important;

    display: flex;
    flex-direction: column;
    gap: 40px;

    background-image: linear-gradient(to bottom,
            #ffffff,
            #ebe9f1,
            #d9d3e2,
            #c9bcd3,
            #bba6c2);
}

/* =========================
TOP FOOTER
========================= */

.ft {
    width: 100%;

    display: flex;
    justify-content: space-between;
    gap: 50px;
}

/* =========================
LEFT
========================= */

.ft-left {
    flex: 1.5;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    /* gap: 20px; */
    /* border: 1px solid red; */
}

.left-img {
    width: 90px;
    height: 90px;
}

.left-img img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.footer-desc {
    /* max-width: 420px; */
    width: 80%;
    text-align: justify;

    font-size: 15px;
    line-height: 1.5;
    color: var(--color-text-bold);
    opacity: 0.85;
}

.footer-address {
    display: flex;
    align-items: center;
    /* border: 1px solid red; */
    width: 80%;
}

.footer-address svg {
    font-size: 30px;
    color: var(--color-text-accent);
    /* margin-top: 3px; */
    flex-shrink: 0;
}

.footer-address p {
    opacity: 0.85;
    font-size: 15px;
    line-height: 1.5;
    text-align: justify;
    /* line-height: 1.7; */
}

/* =========================
CENTER
========================= */

.ft-center {
    flex: 1;

    display: flex;
    flex-direction: column;
    gap: 20px;
}

.ft-center h3,
.ft-right h3 {
    font-size: 18px;
    color: var(--color-text-accent);
}

.list-box {
    display: flex;
    flex-direction: column;
    gap: 14px;
}

.list-box a {
    text-decoration: none;
    color: var(--color-text-bold);

    font-size: 15px;
    transition: 0.3s;
}

.list-box a:hover {
    transform: translateX(5px);
    color: var(--color-text-accent);
}

/* =========================
RIGHT
========================= */

.ft-right {
    flex: 1;

    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 20px;
    padding-right: 15px;
}

.contact-box {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.contact-item {
    display: flex;
    align-items: center;
    gap: 12px;
}

.contact-item svg {
    font-size: 20px;
    color: var(--color-text-accent);
}

.contact-item p {
    font-size: 14px;
    color: var(--color-text-bold);
}

/* =========================
BOTTOM
========================= */

.fb {
    width: 100%;
    padding-top: 20px;

    border-top: 1px solid rgba(0, 0, 0, 0.1);

    display: flex;
    justify-content: center;
    align-items: center;
}

.fb p {
    text-align: center;
    font-size: 13px;
    opacity: 0.7;
}

/* =========================
TABLET
========================= */

@media screen and (max-width: 992px) {
    .footer-container {
        padding-bottom: 10px;
    }

    .ft {
        /* gap: 30px; */
        justify-content: center;
        gap: 20px;
    }

    .ft-left {
        width: 70% !important;
        /* border: 1px solid red; */

        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .ft-center {
        /* border: 1px solid blue; */
        width: 40%;
    }

    .ft-right {
        width: 100%;
        padding-right: 15px;
        /* border: 1px solid red; */
    }

    .footer-desc,
    .footer-address {
        /* border: 1px solid blue; */
        width: 90%;
    }

    .footer-address p {
        text-align: justify;
    }

}

/* =========================
MOBILE
========================= */

@media screen and (max-width: 768px) {

    .footer-container {
        padding: 60px 0px;
        padding-bottom: 15px;
    }

    .ft {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 40px;

    }

    .ft-left {
        /* border: 1px solid red; */
    }

    .ft-left,
    .ft-center,
    .ft-right {
        width: 100%;
    }

    .footer-desc,
    .footer-address {
        max-width: 100%;
    }

}

/* =========================
SMALL MOBILE
========================= */

@media screen and (max-width: 480px) {
    .footer-container {
        padding-bottom: 10px;
    }

    .ft {
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .ft-left {
        /* border: 1px solid red; */
        width: 80%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .left-img {
        width: 200px !important;
        height: 200px !important;
        /* border: 1px solid red; */
    }

    .footer-desc {
        text-align: justify;
    }

    .footer-address {
        /* border: 1px solid red; */
        width: 80%;
        gap: 10px;
    }

    .footer-address p {
        text-align: justify;
    }



    .footer-container {
        padding: 50px 0px;
    }

    .left-img {
        width: 75px;
        height: 75px;
    }

    .footer-desc {
        font-size: 14px;
        width: 80%;
    }

    .ft-center h3,
    .ft-right h3 {
        font-size: 16px;
        margin: 0;
    }

    .contact-box {
        /* border: 1px solid red; */
        gap: 0px;
    }

    .fb p {
        font-size: 11px;
    }

}