.navbar-container {
    padding: 10px 20px;

    display: flex;
    align-items: center;
    justify-content: space-between;

    position: sticky;
    top: 0;
    z-index: 999;

    background-color: #ffffff;
    box-shadow: var(--basic-shadow);

    /* position: relative; */
}

/* =======================
LOGO
======================= */

.nc-logo {
    width: 60px;
    height: 60px;
}

.nc-logo img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

/* =======================
CENTER MENU
======================= */

.nc-center {
    display: flex;
    align-items: center;
    gap: 30px;
}

.nc-center a {
    text-decoration: none;
    color: var(--color-text-accent);
    font-weight: 550;
}

.nc-center a:hover {
    text-decoration: underline;
}

/* =======================
RIGHT BUTTON
======================= */

.nc-right a {
    text-decoration: none;
}

.nc-right button {
    background-color: var(--color-text-accent);
    border: 1px solid var(--color-text-accent);
    border-radius: 16px;

    padding: 8px 20px;
    color: #fff;

    cursor: pointer;
    font-weight: bold;
    font-size: 14px;
}

.nc-right button:hover {
    box-shadow: var(--md-shadow);
}

/* =======================
BURGER MENU
======================= */

.burger-menu {
    display: none;
    flex-direction: column;
    gap: 5px;
    cursor: pointer;
}

.burger-menu span {
    width: 26px;
    height: 3px;
    background-color: var(--color-text-accent);
    border-radius: 20px;

    transition: 0.3s;
}

/* =======================
MOBILE MENU
======================= */

.mobile-menu {
    position: absolute;
    top: 100%;
    right: 20px;

    width: 230px;

    background: #fff;
    box-shadow: var(--basic-shadow);
    border-radius: 20px;

    padding: 20px;

    display: flex;
    flex-direction: column;
    gap: 18px;

    opacity: 0;
    visibility: hidden;
    transform: translateY(-10px);

    transition: 0.3s;
}

.mobile-menu a {
    text-decoration: none;
    color: var(--color-text-accent);
    font-weight: 550;
}

.mobile-menu button {
    width: 100%;

    background-color: var(--color-text-accent);
    border: none;
    border-radius: 14px;

    padding: 10px;
    color: white;

    cursor: pointer;
    font-weight: bold;
}

.mobile-menu.show {
    opacity: 1;
    visibility: visible;
    transform: translateY(0);
}

/* =======================
RESPONSIVE
======================= */

@media screen and (max-width: 768px) {

    .nc-center,
    .nc-right {
        display: none;
    }

    .burger-menu {
        display: flex;
    }

}