.program-container {
    width: 100%;
    /* min-height: 100vh; */
    height: 100%;
    padding: 80px 0;

    /* border: 1px solid red; */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    position: relative;
    overflow: hidden;

    background-image:
        radial-gradient(rgba(210, 122, 40, 0.26) 1px,
            transparent 1px),
        linear-gradient(to bottom, #ffffff, #f7f6fb, #f1ecf6, #ebe3f1, #e6d9eb, #e6d9eb, #e6d9eb, #e6d9eb, #ebe3f1, #f1ecf6, #f7f6fb, #ffffff);
    background-size: 22px 22px, cover;
    background-position: center;
    /* background-image: linear-gradient(to bottom, #ffffff, #f7f6fb, #f1ecf6, #ebe3f1, #e6d9eb, #e6d9eb, #e6d9eb, #e6d9eb, #ebe3f1, #f1ecf6, #f7f6fb, #ffffff); */
}

.pc-title {
    margin: 70px 0px;
    margin-bottom: 100px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.pc-title span {
    letter-spacing: 5px;
    font-size: 16px;
    font-weight: bold;
    color: var(--color-accent);
}

.pc-title h2 {
    font-size: 30px;
    font-weight: bold;
    margin: 10px 0;
    color: var(--color-text-bold);
    text-shadow: var(--basic-shadow);
}

.line {
    width: 10%;
    border: 1px solid var(--color-text-accent);
    border-radius: 8px;

    background-color: var(--color-text-accent);
    height: 2px;
}

.pc-title p {
    font-size: 14px;
    width: 60%;
    opacity: 0.7;
    line-height: 2;
}

.program-content {
    width: 90%;
    /* border: 1px solid red; */
    gap: 15px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    align-items: center;
    justify-content: center;
}

.program-content .program-card {
    border: 1px solid var(--color-accent-primary);
    border-radius: 16px;
    background-color: #ffffff;
    padding: 10px;
    height: 200px;
    cursor: pointer;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    transition: all .2s ease-in-out !important;
}

.program-content .program-card:hover {
    box-shadow: var(--basic-shadow);
    transform: scale(1.05) !important;
}

.program-icon {
    /* border: 1px solid red; */
    border-radius: 16px;
    width: 50px;
    height: 50px;
    font-size: 35px;

    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--color-accent);
    background-color: #f3d8f5;
}


.program-text {
    padding: 0px 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.program-card h3 {
    font-size: 16px;
    color: var(--color-text-bold);
}

.program-card p {
    font-size: 12px;
    line-height: 1.5;
    text-align: center;

}

/* =======================
MEDIA QUERY 
======================= */
/* Tablet */
@media screen and (max-width: 992px) {
    .program-content {
        width: 80%;
        gap: 20px;
        /* border: 1px solid blue; */

        display: grid;
        grid-template-columns: repeat(2, 1fr);
        align-items: center;
        justify-content: center;
    }

    .program-content .program-card {
        padding: 20px;
        min-width: 0;
    }

}

/* Mobile */
@media screen and (max-width: 768px) {
    .pc-title p {
        width: 80%;

    }
}

/* Small Mobile */
@media screen and (max-width: 480px) {
    .program-content {
        width: 80%;
        gap: 20px;
        /* border: 1px solid blue; */

        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .program-content .program-card {
        padding: 20px;
        min-width: 0;
    }

    .program-card p {
        font-size: 14px;
    }
}